.button {
    text-shadow: var(--text-shadow);
    padding: 6px;
    line-height: 1.25;
    image-rendering: pixelated;
    border-style: solid;
    border-width: 6px;
    border-image-width: 6px;
    border-image-slice: 3 fill;
    border-image-repeat: repeat;
    background-color: transparent;
    color: var(--color-white);
    font-weight: 300;
    letter-spacing: 1px;
    --border-image-source: url("@assets/images/ui/button-header.png");
    --border-image-source-hover: url("@assets/images/ui/button-header-hover.png");
    text-align: center;
    user-select: none;
    border-image-source: var(--border-image-source);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;

    &:disabled {
        cursor: not-allowed;
        --border-image-source: url("@assets/images/ui/button-disabled.png");
        --border-image-source-hover: url("@assets/images/ui/button-disabled.png");
        text-shadow: none;
        color: var(--color-black);
    }

    &:hover {
        border-image-source: var(--border-image-source-hover);
    }

    &--important {
        text-transform: uppercase;
    }

    &--red {
        --border-image-source: url("@assets/images/ui/button-red.png");
        --border-image-source-hover: url("@assets/images/ui/button-red-hover.png");
    }

    &--green {
        --border-image-source: url("@assets/images/ui/button-green.png");
        --border-image-source-hover: url("@assets/images/ui/button-green-hover.png");
    }

    &--yellow {
        color: var(--color-white);
        text-shadow: var(--text-shadow);
        --border-image-source: url("@assets/images/ui/button-yellow.png");
        --border-image-source-hover: url("@assets/images/ui/button-yellow.png");
    }

    &--cyan {
        color: var(--color-white);
        text-shadow: var(--text-shadow);
        --border-image-source: url("@assets/images/ui/button-cyan.png");
        --border-image-source-hover: url("@assets/images/ui/button-cyan.png");
    }

    &--small {
        padding: 0 0.25em;
        line-height: 1;
    }

    &--flashing {
        animation: toggle-flash 0.75s infinite;
    }

    @keyframes toggle-flash {
        0%,
        100% {
            border-imatge-source: var(--border-image-source);
        }
        50% {
            border-image-source: var(--border-image-source-hover);
        }
    }
}

span.button {
    pointer-events: none;
}

button {
    all: unset;
}