.callout {
    position: relative;
    padding: 12px;
    image-rendering: pixelated;
    border-style: solid;
    border-width: 6px;
    border-image-width: 6px;
    border-image-slice: 3;
    border-image-repeat: repeat;
    border-image-source: url("../../assets/images/ui/callout.png");

    background-image: url("../../assets/images/ui/background.png");
    background-size: 32px;

    box-shadow: -2px 8px rgba(0, 0, 0, 0.5);

    &:hover {
        border-image-source: url("../../assets/images/ui/callout-hover.png");
    }

    &--min-width {
        min-width: 280px;
    }

    &__buttons {
        margin-top: 0.5em;
        display: flex;
        gap: 0.5em;
        > * {
            flex: 1 1 auto;
        }
    }

    &__title {
        font-size: 2em;
        text-align: center;
        text-wrap: balance;
    }

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        > * {
            flex: 1 1 auto;
        }
    }
}

dialog.callout {
    color: var(--color-foreground);
    max-width: calc(100vw - 2em);
    &::backdrop {
        // checkerboard pattern
        background-image:
            linear-gradient(45deg, #000 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #000 75%),
            linear-gradient(45deg, transparent 75%, #000 75%),
            linear-gradient(45deg, #000 25%, transparent 25%);
        --size: 2px;
        background-size: calc(var(--size) * 2) calc(var(--size) * 2);
        background-position:
            0 0,
            0 0,
            calc(var(--size) * -1) calc(var(--size) * -1),
            calc(var(--size)) calc(var(--size));
    }
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    .callout {
        position: absolute;
        z-index: 20;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-image:
            linear-gradient(45deg, #0007 25%, transparent 25%),
            linear-gradient(45deg, transparent 75%, #0007 75%),
            linear-gradient(45deg, transparent 75%, #0007 75%),
            linear-gradient(45deg, #0007 25%, transparent 25%);
        --size: 2px;
        background-size: calc(var(--size) * 2) calc(var(--size) * 2);
        background-position:
            0 0,
            0 0,
            calc(var(--size) * -1) calc(var(--size) * -1),
            calc(var(--size)) calc(var(--size));
    }
}

label {
    text-align: left;
}

label,
select,
input {
    padding: 0.25em;
    font-size: 1em;
}

@mixin input-border {
    image-rendering: pixelated;
    border-style: solid;
    border-width: 6px;
    border-image-width: 6px;
    border-image-slice: 3;
    border-image-repeat: repeat;
    border-image-source: url("../../assets/images/ui/edit-inactive.png");
    &:hover {
        border-image-source: url("../../assets/images/ui/edit-active.png");
    }
}

select,
input {
    @include input-border;
    text-align: left;
    color: var(--color-yellow);
    background-color: #101010;

    &:hover {
        border-image-source: url("../../assets/images/ui/edit-active.png");
    }
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    aspect-ratio: 1;
    cursor: pointer;
    padding: 0;
    appearance: none;
    border-image-source: url("../../assets/images/ui/check-unchecked.png");
    background-color: #171717;
    &:checked,
    &:checked:hover {
        background-color: var(--accent-color, var(--color-yellow));
    }
    &:hover {
        background-color: color-mix(
            in srgb,
            var(--accent-color, var(--color-yellow)) 20%,
            transparent 80%
        );
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-flex;
    height: 0;
    padding: 0;
    background: #171717;
    border-radius: 6px;
    cursor: pointer;
    &::-webkit-slider-thumb, &::-moz-range-thumb {
        border: none;
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        background: url("../../assets/images/ui/button-cyan.png") no-repeat center center / 100% 100%;
    }
    &:disabled {
        pointer-events: none;
        &::-webkit-slider-thumb, &::-moz-range-thumb {
            background: url("../../assets/images/ui/button-header.png") no-repeat center center / 100% 100%;
        }
    }
}

.icon {
    image-rendering: pixelated;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    &--settings {
        background-image: url("../../assets/images/ui/icon-settings.png");
    }
    &--menu {
        background-image: url("../../assets/images/ui/icon-menu.png");
    }
    &--left {
        background-image: url("../../assets/images/ui/icon-left.png");
        width: 12px;
        height: 20px;
    }
    &--right {
        background-image: url("../../assets/images/ui/icon-right.png");
        width: 12px;
        height: 20px;
    }
    &--add {
        background-image: url("../../assets/images/ui/icon-add.png");
        width: 20px;
        height: 20px;
    }
    &--tick {
        background-image: url("../../assets/images/ui/icon-tick.png");
        width: 22px;
        height: 20px;
    }
}