@import "reset";

html {
    font-size: 16px;
    font-family: sans-serif;
}

html, body, #app {
    padding: 0;
    margin: 0;
    height: 100%;
}

:root {
    --bg-colour: #555;
}

body {
    background: url('../../assets/images/bg.png') repeat-x 0 50%; 
    background-color: var(--bg-colour, #555);
    color: #eee;
    margin: 0;
    padding: 0;
    height: 100%;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    canvas {
        max-width: 100%;
        height: 100% !important;
        object-fit: contain;
        object-position: 50% 50%;
    }
}

#piece-info {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    margin: 0;
}

.unit-id {
    font-family: monospace;
    background: #333;
    border-radius: 2px;
    padding: .1em .25em;
}