@import "reset";
@import "ui";
@import "buttons";

@font-face {
    font-family: "Chaos Sans";
    src: url("../../assets/fonts/chaos.woff2") format("woff2"),
        url("../../assets/fonts/chaos.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: Chaos Sans, sans-serif;
    font-weight: 300;
}

input,
select,
button {
    font-family: inherit;
}

html,
body,
#app {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
}

:root {
    --bg-colour: #555;

    // Speccy colours
    --color-white: #fff;
    --color-yellow: #ff0;
    --color-cyan: #0ff;
    --color-green: #0f0;
    --color-magenta: #f0f;
    --color-red: #f00;
    --color-blue: #00f;
    --color-black: #000;

    // Additional colours
    --color-brown: #8b5731;
    --color-light-blue: #009cef;

    // Spell chances
    --spell-chance-colour-100: var(--color-white);
    --spell-chance-colour-90: var(--color-white);
    --spell-chance-colour-80: var(--color-yellow);
    --spell-chance-colour-70: var(--color-yellow);
    --spell-chance-colour-60: var(--color-cyan);
    --spell-chance-colour-50: var(--color-cyan);
    --spell-chance-colour-40: var(--color-green);
    --spell-chance-colour-30: var(--color-green);
    --spell-chance-colour-20: var(--color-magenta);
    --spell-chance-colour-10: var(--color-magenta);
    --spell-chance-colour-0: var(--color-red);
}

body {
    --bg-transition-time: 0.15s;
    background: url("../../assets/images/bg.png") repeat-x 60% 40%;
    background-color: var(--bg-colour, #555);
    color: #eee;
    margin: 0;
    padding: 0;
    height: 100%;
    -o-transition: background-color var(--bg-transition-time);
    -moz-transition: background-color var(--bg-transition-time);
    -webkit-transition: background-color var(--bg-transition-time);
    transition: background-color var(--bg-transition-time);
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

#piece-info {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1em;
    margin: 0;
}

.unit-id {
    font-family: monospace;
    background: #333;
    border-radius: 2px;
    padding: 0.1em 0.25em;
}

button {
    border: none;
    border-radius: 3px;
    padding: 0.5em;
    cursor: pointer;
    font-size: inherit;
}

.window-button {
    background: #444;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 1.175em 0.5em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    &:hover {
        background: #fff;
        color: #000;
    }
}

.balance-lawful {
    color: var(--color-cyan);
}

.balance-chaotic {
    color: var(--color-magenta);
}
